.Google {
  font-size: 35px;
  letter-spacing: -15px;
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  margin-left: 20px;
}

.changer {
  float: right;
  border: none;
  background-color: rgb(62, 49, 49);
  border-radius: 100px;
}

.sun {
  width: 90px;
  height: 60px;
  border-radius: 100px;
  cursor: pointer;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
