.Foolgle {
  font-size: 35px;
  letter-spacing: -15px;
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  margin-left: 15px;
  margin-top: 12px;
}

.changer {
  float: right;
  border: none;
  background-color: rgb(62, 49, 49);
  border-radius: 100px;
}

.sun {
  width: 90px;
  height: 60px;
  border-radius: 100px;
  cursor: pointer;
}


.side-container{
  display:flex;

}

#burger-bar{
  height: 33px;
  cursor: pointer;
  padding: 10px;
  position: static;
  border-radius: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
}

#burger-bar:hover{
  border-color: blue;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
